* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.grid-container {
  // max-width: 1180px; // 1140px
  // margin: 82px auto 88px;

  display: grid;
  // display: subgrid;

  // grid-template-columns: repeat(4, minmax(100px, 240px));
  // grid-template-columns: repeat(4, minmax(100px, 240px));
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  // grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  // grid-template-columns: [col1-s] 240px [col2-s] 240px [col3-s] 240px [col4-s] 240px;

  grid-template-rows: repeat(2, minmax(260px, auto));
  grid-auto-rows: minmax(260px, auto);

  // grid-auto-flow: column; //неявный грид

  // align-items: center;
  // justify-items: center;
  // place-items: center center;

  // justify-content: center;
  // align-content: center;
  // place-content: center center;

  grid-template-areas:
  "side header header header"
  "side blog blog blog"
  "footer footer footer footer ";
  // "footer footer footer . ";


  gap: 20px;
  padding: 80px 20px;
}

.news-item {
  &__img {
    width: 100%;
  }
  &__descr {
    margin-top: 15px;
    font-size: 14px;
    line-height: 16px;
  }
}

#header {
  background-color: rgb(111, 0, 255);
  grid-area: header;

  // grid-column-start: 1;
  // grid-column-end: 3;
  // grid-column: 1 / 2;
  // grid-column: 1;
}

#blog {
  background-color: yellow;
  grid-area: blog;

  // grid-column-start: 3;
  // grid-column-end: 5;

  // align-self: center;
  // justify-self: center;
  // place-self: center center;
}

#side {
  background-color: greenyellow;
  grid-area: side;
  // grid-row-start: 2;
  // grid-row-end: 5;
  // grid-row: 1 / 5;
}

#footer {
  grid-area: footer;
  background-color: rgb(255, 47, 241);
  // grid-row-start: 2;
  // grid-row-end: 5;
  // grid-row: 1 / 5;
}
