@media (max-width: 1300px) {
  .social {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    padding-left: 1rem;
  }
  .about {
    &__wrapper {
      grid-template-columns: 40rem 52rem;
      column-gap: 3rem;
    }
    &__skills {
      grid-template-columns: 24rem 24rem;
      column-gap: 2rem;
      &-item {
        min-width: 23rem;
      }
    }
  }
  .skills {
    &__items {
      grid-template-columns: repeat(3, 27rem);
      justify-content: space-around;
    }
    &__progress {
      grid-template-columns: repeat(2, 35rem);
      justify-content: space-around;
    }
  }
  .portfolio {
    &__wrapper {
        // margin-top: 6rem;
        // display: grid;
        grid-template: repeat(2, 28rem) / repeat(auto-fit, 28rem);
        justify-content: center;
        // grid-auto-rows: 28rem;
        // gap: .5rem;
      .horizontal,
      .vertical {
        grid-row: unset;
        grid-column: unset;
      }
    }
  }
}

@media (max-width: 992px) {
  .promo__title {
    max-width: 43rem;
    font-size: 42px;
  }
  .about {
    &__wrapper {
      grid-template-columns: 30rem 38rem;
    }
    &__subtitle {
      font-size: 3rem;
    }
    &__skills {
      margin-top: 2rem;
      grid-template-columns: 36rem;
      grid-auto-rows: minmax(5rem, auto);
    }
  }
  .resume {
    .subtitle_center {
      font-size: 3rem;
    }
    &__wrapper {
      grid-template-columns: 1fr;
      gap: 4.5rem;
    }
  }
  .skills {
    .subtitle_center {
      font-size: 24px;
    }
    &__items {
      grid-template-columns: repeat(2, 27rem);
      justify-content: space-around;
      margin-bottom: 6rem;
    }
    &__progress {
      grid-template-columns: repeat(2, 35rem);
      justify-content: space-around;
    }
  }
  .price-list {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 37rem);
      justify-content: center;
  }

  }
}

@media (max-width: 768px) {
  .promo__title {
    max-width: 40rem;
    line-height: 39px;
    font-size: 36px;
  }
  .about {
    padding-top: 4rem;
    padding-bottom: 4rem;
    &__wrapper {
      grid-template: 48rem auto auto / 1fr;
      gap: 2rem;
    }
    &__photo {
      padding: 1rem;
      grid-row: auto;
    }
    &__descr {
      padding: 1rem;
    }
    &__skills {
      padding: 1rem;
      grid-template-columns: repeat(2, 26rem);
    }
  }
  .resume {
    padding-bottom: 4rem;
  }
  .skills {
    &__progress {
      grid-template-columns: repeat(1, 35rem);
    }
  }
}

@media (max-width: 576px) {
  .promo {
    background-repeat: no-repeat;
    background-position: 60% 50%;
    &__title {
      max-width: 29rem;
      font-size: 26px;
      line-height: 39px;
    }
  }
  .menu__block {
    width: 25rem;
    padding-left: 2rem;
  }
  .burger {
    right: 1rem;
  }
  .about {
    &__wrapper {
      grid-template: 34rem auto auto / 1fr;
      gap: 1rem;
    }
    &__skills {
      grid-template-columns: 1fr;
    }
    &__subtitle {
      font-size: 2.3rem;
    }
  }
  .resume {
    .subtitle_center {
      font-size: 24px;
    }
    &__wrapper {
      padding: 4rem 1rem 1rem 1rem;
    }
  }
  .skills {
    .subtitle_center {
      font-size: 2.4rem;
      line-height: 36px;
    }
    &__items {
      grid-template-columns: repeat(1, 27rem);
    }
    &__progress {
      grid-template-columns: repeat(1, 28rem);
    }
  }
}
