.promo {
  min-height: 100dvh;
  position: relative;
  background-image: url('../img/promo-bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20.5rem;
  padding-bottom: 20.6rem;
  &__title {
    margin-top: 0.9rem;
    max-width: 53.2rem;
  }
  &__suptitle {
    position: relative;
    @include before_circle;
    z-index: 1;
  }
  &__btns {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.7rem;
  }
  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 13.5rem;
    height: 4.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: $text-color;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: default;
    &_active {
      background-color: $main-color;
      box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.15);
      cursor: pointer;
      &:hover {
        box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0, 0, 0, 0.15);
      }
    }
  }
}
