.resume {
  padding-bottom: 12rem;
  // &__title {
  //   position: relative;
  //   text-align: center;
  //   @include before_circle;
  //   &::before {
  //     left: 50%;
  //     transform: translateX(-50%);
  //   }
  // }
  // &__subtitle {
  //   margin-top: 0.6rem;
  //   text-align: center;
  // }
  &__wrapper {
    padding: 6rem 6.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 42.5rem);
    justify-content: space-between;
  }
  &__column {
    &-title {
      position: relative;
      padding-left: 3.5rem;
      &::before {
        content: '';
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        background-color: $main-color;
        border-radius: 100%;
        left: -0.7rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
      }
    }
    ul {
      list-style-type: none;
      li {
        padding-left: 3.5rem;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          // top: 1.6rem;
          top: -1rem;
          left: 0;
          width: 0.1rem;
          height: calc(100% + 1.6rem);
          background-color: $text-color;
        }
      }
    }
  }
  &__item {
    position: relative;
    &::before {
      content: '';
      height: 0.1rem;
      width: 4.3rem;
      position: absolute;
      top: 64px;
      left: -35px;
      background-color: $text-color;
    }
    &-head {
      position: relative;
      padding: 4.5rem 0 0 4.5rem;
    }
    &-descr {
      // padding-left: 4.3rem;
      margin-top: 1.2rem;
    }
    &-icon {
      position: absolute;
      top: 5.5rem;
      left: 1rem;
      z-index: 5;
      @include before_circle;
    }
    &-subtitle {
      font-size: 12px;
      line-height: 18px;
    }
    &-descr {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
