.resume {
  padding-bottom: 12rem;
  &__title {
    position: relative;
    text-align: center;
    @include before_circle;
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__subtitle {
    margin-top: 0.6rem;
    text-align: center;
  }
  &__wrapper {
    padding: 6rem 6.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 42.5rem);
    justify-content: space-between;
  }
  &__column {
    &-title {
      position: relative;
      padding-left: 3.5rem;
      &::before {
        content: '';
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        background-color: $main-color;
        border-radius: 100%;
        left: -0.7rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
      }
    }
    ul {
      list-style-type: none;
      li {
        padding-left: 3.5rem;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: -10%;
          left: 0;
          width: 0.1rem;
          height: 100%;
          background-color: $text-color;
        }
      }
    }
  }
  &__item {
    &-head {
      position: relative;
      padding: 4.5rem 0 0 4.5rem;
    }
    &-descr {
      // padding-left: 4.3rem;
      margin-top: 1.2rem;
    }
    &-icon {
      position: absolute;
      top: 5.5rem;
      left: 4.5rem;
      @include before_circle;
    }
  }
}
