.social {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: -14rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33.8rem;
  height: 2.4rem;
  transform: rotate(-90deg);
  &__divider {
    width: 7rem;
    height: 0.2rem;
    background-color: $text-color;
  }
  &__link {
    display: block;
    width: 2rem;
    height: 2rem;
    transition: all .3s ease-in-out;
    &:hover {
      opacity: 0.6;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
