body {
  padding: 10px;
  margin: 0;
}

.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.svg {
  width: 400px;
  height: 300px;
  border: solid 1px #000;
}

.svg-text {
  overflow: visible;
}

.rect {
  stroke: brown;
  stroke-width: 10px;
  fill: none;
  stroke-dasharray: 700;
  stroke-dashoffset: 0;
  transition: all 1s ease-in-out;
}

.svg-rect:hover .rect {
  stroke-dashoffset: 700;
}

.text {
  font-size: 12px;
  fill: #000;
}

.circle {
  stroke-dasharray: 314;
  stroke-dashoffset: 314;
  transition: all 1s ease-in-out;
}

.svg-circle:hover .circle {
  stroke-dashoffset: 0;
}

.apple-path {
  fill: lightgreen;
  stroke: green;
  stroke-width: 10px;
  stroke-dasharray: 1800;
  stroke-dashoffset: 1800;
  transition: all 1s ease-in-out;
  opacity: 0.5;
}

.apple:hover .apple-path {
  stroke-dashoffset: 0;
  opacity: 1;
}

.img-1 {
  clip-path: polygon(
    10% 25%,
    35% 25%,
    35% 0%,
    65% 0%,
    65% 25%,
    90% 25%,
    90% 50%,
    65% 50%,
    65% 100%,
    35% 100%,
    35% 50%,
    10% 50%
  );
}

.img-2 {
  clip-path: url(#apple);
}

.polyline {
  stroke-linejoin: round;
}
