.bg-image {
  background-image: url("https://loremflickr.com/320/240");
  width: 400px;
  height: 350px;
  border: 1px solid gray;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}
