.catalog {
  padding-bottom: 100px;
  &__tabs {
    margin-top: 70px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
    padding-left: 0;
  }
  &__tab {
    width: 222px;
    height: 52px;
    border: 2px solid rgb(208, 208, 208);
    color: rgb(107, 107, 107);
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    transform: skewX(-25deg);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:not(.catalog__tab_active):hover {
      box-shadow: 3px 5px 5px rgb(208, 208, 208);
    }
    div {
      transform: skewX(25deg);
    }
    &_active {
      background: $main-color;
      color: rgb(255, 255, 255);
      border: 2px solid $main-color;
      cursor: auto;
    }
  }
  &__content {
    width: 940px;
    min-height: 984px;
    margin: 0 auto;
    margin-top: 60px;
    display: none;
    flex-wrap: wrap;
    gap: 20px;
    &_active {
      display: flex;
    }
  }
  &-item {
    overflow: hidden;
    width: 300px;
    min-height: 482px;
    border: 2px solid rgb(232, 232, 232);
    padding: 20px;
    &__img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
    &__subtitle {
      margin-top: 20px;
      color: rgb(13, 13, 13);
      font-size: 16px;
      font-weight: 700;
      line-height: 25px;
      text-align: center;
    }
    &__descr {
      margin-top: 16px;
      color: rgb(13, 13, 13);
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      text-align: center;
    }
    &__link {
      display: block;
      margin-top: 17px;
      color: $main-color;
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      text-align: center;
      text-decoration-line: underline;
    }
    &__back {
      display: block;
      margin-top: 60px;
      margin-right: 20px;
      color: $main-color;
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      text-align: center;
      text-decoration-line: underline;
      cursor: pointer;
    }
    hr {
      margin-top: 19px;
      margin-bottom: 21px;
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__old-price {
      color: rgb(85, 85, 85);
      font-size: 14px;
      font-weight: 300;
      line-height: 14px;
      text-align: left;
      text-decoration-line: line-through;
      margin-bottom: 2px;
    }
    &__price {
      color: rgb(5, 5, 5);
      font-size: 20px;
      font-weight: 700;
      line-height: 20px;
      text-align: left;
      margin-bottom: 0;
    }
    &__wrapper {
      display: flex;
      width: calc(200% + 40px);
    }
    &__content {
      transition: all .5s ease-in-out;
      width: 50%;
      min-height: 353px;
      margin-right: 0px;
      transform: translateX(-100%);
      &_active {
        transform: translateX(0%);
        margin-right: 20px;
      }
    }
    &__list {
      transition: all .5s ease-in-out;
      width: 50%;
      min-height: 353px;
      margin-left: 20px;
      transform: translateX(0%);
      padding-right: 20px;
      padding-left: 19px;
      margin-bottom: 0;
      list-style-type: none;
      position: relative;
      &_active {
        transform: translateX(-100%);
        margin-left: 0px;
      }
      &-item {
        color: rgb(85, 85, 85);
        font-size: 14px;
        font-weight: 300;
        line-height: 21px;
        text-align: left;
        margin-bottom: 16px;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          background-color: $main-color;
          left: -14px;
          top: 7px;
        }
      }
    }
  }
}
