body {
  margin: 30px;
}

.box {
  margin: 30px 0;
  width: 200px;
  height: 200px;
  background-color: darkorange;
  transition-property: background-color;
  transition-duration: 0.8s;
  transition-timing-function: linear;
}

.box:hover {
  background-color: blueviolet;
}

/*********************************************/

.menu {
  list-style-type: none; /* удаление маркеров элементов списка */
  padding: 0; /* удаление стандартных отступов элемента ul */
  margin-top: 35px;
}

.menu li {
  padding: 20px;
  height: 20px;
  background-color: lightgray;
  cursor: pointer;
  transition: all 0.6s ease-out;
}

.menu li:hover {
  background-color: lightseagreen;
  color: white;
  font-size: 1.1rem;
}

.btn {
  padding: 20px;
  border: 2px green solid;
  color: aliceblue;
  background-color: #ff0000;
  transition: all 0.5s ease-in-out 0.2s;
  cursor: pointer;
}

.btn:hover {
  border: 2px rgb(139, 255, 139) solid;
  color: rgb(12, 142, 255);
  background-color: #ff9e9e;
}
